{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<!-- header -->
<div id="header" class="page-header header-filter">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6">
        <h1 id="header-title" class="title">
          <p><span class="font-brand">WILLY'S</span></p>
        </h1>
        <div class="square">
            <h2 id="header-subtitle" class="subtitle">
              <p>Forma parte de la <strong>REVOLUCIÓN</strong> de la cerveza</p>
            </h2>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- endheader -->
{% endblock %}
