*.pyc
*.sqlite3
/venv/
/env/
*.ini
uwsgi.ini
/static/
/media/
.DS_Store
*.swp
*.env
prod.env
node_modules*
/docs/_build/
/.tmp/
*.log
/dist/
/willys_website/core/static/bundles/
__pycache__/
bower_components/
