beautifulsoup4==4.5.1
click==6.6
Django==1.10.4
django-modelcluster==2.0
django-redis==4.6.0
django-taggit==0.18.3
django-treebeard==4.1.0
djangorestframework==3.5.3
gunicorn==19.6.0
html5lib==0.999999999
meld3==1.0.2
Pillow==3.4.2
psycopg2==2.6.2
python-dotenv==0.6.1
pytz==2016.10
redis==2.10.5
six==1.10.0
supervisor==3.3.1
Unidecode==0.4.19
uWSGI==2.0.14
virtualenv==15.1.0
wagtail==1.7
webencodings==0.5
Willow==0.4
