{% extends "willys_website/base.html" %}

{% load willys_website_tags %}

{% block body_class %}{% endblock %}

{% block content %}


    {% include 'willys_website/includes/hero_video.html' with hero=self.hero.all video=self.video only %}

    <section class="subscribe-line">
       <div class="container">
          <div class="row">
             <div class="col-sm-5">
               <div class="headline">
                 <h3 class="center">Únete a la revolución de la cerveza</h3>
               </div>
             </div>
             <div class="col-sm-5">
                <form class="">
                     <div class="form-group">
                          <input type="text" value="" class="form-control" placeholder="Introduce tu email... ">
                          <input type="checkbox" name="policy"> Acepto las políticas de privacidad<br>
                     </div>
                 </form>
             </div>
             <div class="col-sm-2">
               <div class="center">
                 <a href="/" class="btn btn-fill btn-lg bg-black-2 color-white material-shadow">ENVIAR</a>
               </div>
             </div>
          </div>
       </div>
    </section>

    {% include 'willys_website/includes/home_promo.html' with promo=self.promo.all only %}

    {% include 'willys_website/includes/home_featured.html' with featured=self.featured.all only %}

{% endblock %}
