{% extends "willys_website/base.html" %}

{% load willys_website_tags static %}

{% block body_class %}{% endblock %}

{% block content %}


    {% include 'willys_website/includes/hero_video.html' with hero=self.hero.all video=self.video only %}

    <section class="subscribe-line">
       <div class="container">
          <div class="row">
             <div class="col-sm-5">
               <div class="headline">
                 <h3 class="center">Únete a la revolución de la cerveza</h3>
               </div>
             </div>
             <div class="col-sm-7">
               <form id="register-form" class="row">
                 <div class="col-sm-8">
                   <div class="form-group">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email" required="">
                      <input type="checkbox" id="policy" required=""> Acepto las políticas de privacidad<br>
                   </div>
                 </div>
                 <div class="col-sm-4">
                   <div class="center">
                     <button id="lead-form-button" type="submit" class="btn btn-fill btn-lg bg-black-2 color-white material-shadow" data-gtm-cat="Interest" data-gtm-action="Lead" data-gtm-label="Click">Enviar</button>
                     <img id="processing-form" width="50px" src="{% static 'images/loader.gif' %}" style="display:none;">
                     <span id="success-form" style="display:none;">¡Bienvenido a Willy's!</span>
                   </div>
                 </div>
               </form>
             </div>
          </div>
       </div>
    </section>

    {% include 'willys_website/includes/home_promo.html' with promo=self.promo.all only %}

    {% include 'willys_website/includes/home_featured.html' with featured=self.featured.all only %}

{% endblock %}
