{% extends "willys_website/base.html" %}
{% load willys_website_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}

    {% include "willys_website/includes/product_hero.html" with hero=self.new_hero only %}

    <!-- product -->
    <section id="product" class="product">

      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            {% if self.body %}
              {% include "willys_website/includes/streamfield.html" with content=self.body %}
            {% endif %}
          </div>
        </div>

      </div>
    </section>
    <!-- endproduct -->

    <div class="product-welcome-form">
      {% include 'willys_website/includes/welcome_form.html' %}
    </div>

{% endblock %}
