{% extends "willys_website/base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<style>
    section.hero {
      text-align: left;
    }
    section.hero .container{
      padding-top: 20vh;
    }
    section.hero .title{
      font-size: 50px;
      color: black;
    }
    section.hero .subtitle{
      border: none;
      font-size: 20px;
      text-transform: none;
      font-family: 'Montserrat';
      color: black;
    }
</style>
<!-- hero -->
<section class="hero color-black">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="title">
          OMG ¡te has cargado la web!
        </h1>
        <h2 class="color-black-2">
          No te ralles, seguramente has seguido un link antiguo, o igual... <i>"las has liado"</i>
        </h2>
        <a href="/" class="btn btn-lg bg-black color-white margin-20 material-shadow">IR A WILLY'S</a>
      </div>
    </div>
  </div>
</section>
<!-- endhero -->
{% endblock %}
