/* Blog Index */
section.blog-index{

}

section.blog-index ul.list{
  list-style-type: none;
}

section.blog-index ul.list li{
  list-style-type: none;
  padding: 10px;
  margin: 10px 0;
}

section.blog-index ul.list li .content .image-container{
  background-size: cover;
  background-position: center center;
  min-height: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
}

/* Blog Post */
section.blog-post{

}
