/* Event Index */
section.event-index{

}

section.event-index ul.list{
  list-style-type: none;
}

section.event-index ul.list li{
  list-style-type: none;
  padding: 20px;
  margin: 40px 0;
}

section.event-index ul.list li .content .image-container{
  background-size: cover;
  background-position: center center;
  min-height: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
}

/* Event */
section.event{

}
