/* browserupgrade*/
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
  font-family: 'Montserrat', sans-serif;
}

.container{
  min-width: 320px;
  max-width: 980px;
}

p{
  margin: 0;
}

a{
  color: #ffffff;
}

a:hover, a:focus{
  text-decoration: none;
  color: #eeeeee;
}

ul{
  padding: 0;
}

/* Utils */
.padding0{padding:0;}
.margin0{margin:0;}
.margin-20{margin:20px 0;}
.margin-40{margin:40px 0;}
.margin-40-t{margin:40px 0 0 0;}
.margin-20-last{margin:20px 0;}
.margin-15{margin:15px 0;}
.margin-10{margin:10px 0;}
.margin-t-40{margin-top: 40px;}
.margin-l-20{margin-left:20px}
.margin-l-15{margin-left:15px}
.margin-l-10{margin-left:10px}
.margin-r-20{margin-right:20px}
.margin-r-15{margin-right:15px}
.margin-r-10{margin-right:10px}
.p0-right{padding-right:0;}
.p0-left{padding-left:0;}
.row.equal [class*="col-"]>* {margin-bottom: -99999px;padding-bottom: 99999px;}
.row.equal {overflow: hidden;}
.center{display: table;margin: 0 auto;}
.opacity-65{opacity: 0.65;}
.opacity-30{opacity: 0.30;}
.padding-section-20{padding: 20px 0;}
.padding-section-15{padding: 15px 0;}
.padding-section-10{padding: 10px 0;}
.padding-20{padding: 20px;}
.padding-15{padding: 15px;}
.padding-10{padding: 10px;}
.margin-r-20-btn{margin-right:20px}
@media (max-width: 767px) {
  .margin-r-20-btn{margin-right:0}
  .margin-20-last{margin:0;}
}

.btn-lg{
  padding: 8px 16px;
}

/* Brand */
.font-brand{
    font-family: 'Chau Philomene One', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
}

/* Material */
.material-shadow{
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.modal-dialog{
    background: rgba(0,0,0,0);
    border: none;
    box-shadow: none;
}

.modal-body p{
    font-size: 12px;
}

/* Cookies */
.cookies {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    padding: 10px 40px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background-color: #212121;
}
.cookies .close{
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 1;
    border: 1px solid #fff;
    padding: 5px;
    font-size: 16px;
}

/* Parallax */
.parallax-bg{
    background-attachment: fixed;
}
.parallax-shadow{
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
}

/* Arrow */
.wrap {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.arrow {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-bottom:3%;
  background-color: rgba(255, 255, 255, 1);
}
.arrow:before, .arrow:after {
  content:'';
  position: absolute;
  bottom: 100%;
  width: 50%;
  padding-bottom:inherit;
  background-color: inherit;
}
.arrow:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(60deg);
  -webkit-transform: skewX(60deg);
  transform: skewX(60deg);
}
.arrow:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-60deg);
  -webkit-transform: skewX(-60deg);
  transform: skewX(-60deg);
}

/* Background adjusts */
.bg-pos-x-25{background-position: 25% 0 !important;}
.bg-pos-x-50{background-position: 50% 0 !important;}
.bg-pos-x-75{background-position: 75% 0 !important;}
.bg-pos-x-100{background-position: 100% 0 !important;}
.bg-pos-y-25{background-position: 0 25% !important;}
.bg-pos-y-50{background-position: 0 50% !important;}
.bg-pos-y-75{background-position: 0 75% !important;}
.bg-pos-y-100{background-position: 0 100% !important;}

/* Background Colors */
.bg-white{background-color: rgba(255,255,255,1) !important;}
.bg-black{background-color: rgba(0,0,0,1) !important;}
.bg-black-2{background-color: #2e3234 !important}

/* Colors */
.color-white{color: #fff !important;}
.color-black{color: #000 !important;}
.color-black-2{color: #2e3234 !important}

/* Btn */
.btn{
  color: #ffffff;
  border: none;
  font-family: 'Chau Philomene One', sans-serif;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus, .btn.active:hover, .open > .btn.dropdown-toggle, .open > .btn.dropdown-toggle:focus, .open > .btn.dropdown-toggle:hover{
  color: #9e9e9e;
}

.btn-default{
  border-radius: 0;
}

/* CTA */
.cta{
  font: 300 18px 'Chau Philomene One', sans-serif;
  margin: 40px 0 0 0;
}

.cta a{
  max-width: 240px;
  padding: 20px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
}

.cta a:hover, .cta a:focus{
  text-decoration: none;
  background: #fff;
  color: #000000;
  border: 1px solid #000000;
  transition: all 1s ease;
}

.cta-alt a{
  max-width: 240px;
  padding: 20px;
  background: rgba(0, 0, 0, 0);
  color: #000;
  border: 1px solid #000;
  text-transform: uppercase;
}

.cta-alt a:hover, .cta a:focus{
  text-decoration: none;
  background: #000;
  color: #fff;
  border: 1px solid #000000;
  transition: all 1s ease;
}

/**
* circle
*/
.circle-small{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}

.navbar{
  font-family: 'Chau Philomene One', sans-serif;
}

.navbar-nav{
  font-family: 'Chau Philomene One', sans-serif;
}

.navbar .navbar-brand{
  padding: 0;
  height: auto;
  height: 50px;
  padding: 3px 15px;
  margin-bottom: 0;
}

.navbar .navbar-brand img{
  width: 60px;
  max-width: 60px;
}

.navbar-transparent{
  padding-top: 0;
  background-color: #fff;
}

.navbar .navbar-nav > li > a.btn{
  border: none;
}

.navbar-transparent .navbar-nav > li > a:not(.btn), .navbar-transparent .navbar-nav > li > a.btn-default, [class*="navbar-ct"] .navbar-nav > li > a:not(.btn), [class*="navbar-ct"] .navbar-nav > li > a.btn-default{
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
}

.navbar-transparent .navbar-nav > .active > a:not(.btn), .navbar-transparent .navbar-nav > .active > a:hover:not(.btn), .navbar-transparent .navbar-nav > .active > a:focus:not(.btn), .navbar-transparent .navbar-nav > li > a:hover:not(.btn), .navbar-transparent .navbar-nav > li > a:focus:not(.btn), [class*="navbar-ct"] .navbar-nav > .active > a:not(.btn), [class*="navbar-ct"] .navbar-nav > .active > a:hover:not(.btn), [class*="navbar-ct"] .navbar-nav > .active > a:focus:not(.btn), [class*="navbar-ct"] .navbar-nav > li > a:hover:not(.btn), [class*="navbar-ct"] .navbar-nav > li > a:focus:not(.btn){
  color: #2e3234;
}

.navbar-transparent .navbar-nav > li > a.btn-default:hover, .navbar-transparent .navbar-nav > li > a.btn-default:focus, [class*="navbar-ct"] .navbar-nav > li > a.btn-default:hover, [class*="navbar-ct"] .navbar-nav > li > a.btn-default:focus{
  border-color: #2e3234;
}

.navbar-transparent .navbar-toggle .icon-bar, [class*="navbar-ct"] .navbar-toggle .icon-bar{
  background-color: #000000 !important;
}

.navbar-transparent .navbar-nav > .dropdown > a .caret, .navbar-transparent .navbar-nav > .dropdown > a:hover .caret, .navbar-transparent .navbar-nav > .dropdown > a:focus .caret, [class*="navbar-ct"] .navbar-nav > .dropdown > a .caret, [class*="navbar-ct"] .navbar-nav > .dropdown > a:hover .caret, [class*="navbar-ct"] .navbar-nav > .dropdown > a:focus .caret{
  border-bottom-color: #000000;
  border-top-color: #000000;
}

body > .navbar-collapse{
  background-color: #ffffff;
}

body > .navbar-collapse::after{
  background-color: #ffffff;
}

body > .navbar-collapse .nav > li > a{
  margin: 10px;
  text-transform: uppercase;
  font-size: 15px;
}

body > .navbar-collapse .navbar-nav > li > a, body > .navbar-collapse .navbar-nav > li > a:hover, body > .navbar-collapse .navbar-nav > li > a:focus, body > .navbar-collapse .navbar-nav .active > a, body > .navbar-collapse .navbar-nav .active > a:hover, body > .navbar-collapse .navbar-nav .active > a:focus, body > .navbar-collapse .navbar-nav .open .dropdown-menu > li > a, body > .navbar-collapse .navbar-nav .open .dropdown-menu > li > a:hover, body > .navbar-collapse .navbar-nav .open .dropdown-menu > li > a:focus, body > .navbar-collapse .navbar-nav .navbar-nav .open .dropdown-menu > li > a:active{
  color: #000000;
  opacity: 1;
}

.nav-open .nav .caret{
  border-bottom-color: #2e3234;
  border-top-color: #2e3234;
}

/* Section */
section{
    padding: 40px 0;
}

/* Hero */
section.hero {
  background-size: cover;
  background-attachment: fixed;
  /*background-position: center center;*/
  /*height: 100vh;*/
  min-height: 520px;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
}

section.hero .container {
  padding-top: 15vh;
  color: #FFFFFF;
}

section.hero .square {
  padding: 20px;
  border: 3px solid #fff;
}

section.hero .boost {
  padding: 20px;
}

section.hero .title{
  color: #FFFFFF;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Chau Philomene One', sans-serif;
}

section.hero .subtitle {
  color: #FFFFFF;
  padding: 20px 0;
  font-size: 70px;
  text-transform: uppercase;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  font-family: 'Chau Philomene One', sans-serif;
  font-weight: bolder;
  letter-spacing: 7px;
}

section.hero.header-filter {
  position: relative;
}

section.hero.header-filter:before, section.hero .header-filter:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

section.hero.header-filter::before {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 5s ease;
}

section.hero.header-filter.changed::before {
  background-color: rgba(0, 0, 0, 0.6);
}

section.hero.header-filter .container {
  z-index: 2;
  position: relative;
}

@media (min-width: 768px) and (max-width: 991px){
  section.hero .subtitle{
    font-size: 44px;
  }
}

@media (max-width: 767px) {
  section.hero {
    background-attachment: scroll;
  }
  section.hero .container {
    padding-top: 10vh;
  }
  section.hero .title{
    font-size: 20px;
  }
  section.hero .subtitle {
    font-size: 40px;
  }
}

/* Simple Hero */
section.hero.simple-hero {
  min-height: 280px;
  max-height: 280px;
  height: 280px;
  text-align: center;
}

section.hero.simple-hero .container{
  padding-top: 20vh;
}

section.hero.simple-hero .title{
  font-size: 50px;
}

section.hero.simple-hero .subtitle {
  font-size: 30px;
}

section.hero.simple-hero.header-filter::before {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 5s ease;
}

@media (max-width: 767px) {
  section.hero.simple-hero .container {
    padding-top: 20vh;
  }
  section.hero.simple-hero .title{
    margin: 0;
    font-size: 36px;
  }
}

/* Product Hero */
section.hero.product-hero {
  height: 100vh;
  min-height: 520px;
  max-height: 520px;
  text-align: left;
}

section.hero.product-hero:after{
  content: '';
  width: 100%;
  height: 660px;
  transform-origin: left bottom;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: skew(0deg, -15deg);
  -moz-transform: skew(0deg, -15deg);
  -ms-transform: skew(0deg, -15deg);
  -o-transform: skew(0deg, -15deg);
  transform: skew(0deg, -15deg);
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

section.hero.product-hero:before {
  content: '';
  width: 100%;
  height: 660px;
  transform-origin: left bottom;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: skew(0deg, -15deg);
  -moz-transform: skew(0deg, -15deg);
  -ms-transform: skew(0deg, -15deg);
  -o-transform: skew(0deg, -15deg);
  transform: skew(0deg, -15deg);
  z-index: 2;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  opacity: 0.85;
}

section.hero.product-hero .container {
  padding-top: 25vh;
  color: #FFFFFF;
  z-index: 3;
  position: relative;
}

section.hero.product-hero .title{
  margin: 30px 0 0 0;
  font-size: 66px;
  font-family: 'Chau Philomene One', sans-serif;
  font-weight: bolder;
}

section.hero.product-hero .subtitle {
  margin: 20px 0;
  padding: 0;
  font-size: 22px;
  border: none;
  font-family: 'Chau Philomene One', sans-serif;
}


section.hero.product-hero .features {
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

section.hero.product-hero a{
  text-transform: uppercase;
}

section.hero.product-hero .image {
  max-height: 480px;
}

@media (max-width: 767px) {
  section.hero.product-hero .container {
    padding-top: 15vh;
  }
  section.hero.product-hero .title{
    font-size: 50px;
  }
  section.hero.product-hero .image {
    max-height: 360px;
  }
}

/* Landing hero */
section.hero.landing-hero {
  height: 100vh;
  text-align: center;
}

section.hero.landing-hero a{
  text-transform: uppercase;
}

/* Video Hero */

section.hero.hero-video{
  position: relative;
  height: 520px;
  min-height: 520px;
}


section.hero.hero-video video {
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.hero.hero-video.header-filter::before {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 5s ease;
  z-index: 2;
}

/* Promo */
section.promo{
  padding: 40px 0;
  font-family: 'Chau Philomene One', sans-serif;
  font-weight: bolder;
  letter-spacing: 1.5px;
}

section.promo .claim{
  text-align: center;
  font-size: 38px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  section.promo{
    padding: 20px 0;
  }
  section.promo .claim{
    font-size: 18px;
    text-align: centers
  }
}

/* Full */
section.full{
  padding: 0;
}

section.full .display{
    transition: opacity 1s ease;
    height: 400px;
    background-size: cover;
    background-position: center center;
    border: 5px solid #000;
}

section.full .display:hover {
  opacity: 0.8;
}

section.full .display .text{
  border: 1px solid white;
}

section.full .display .text h3{
  margin: 0;
}

@media (max-width: 767px) {
  section.full .display{
      height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section.full .display{
      height: 350px;
  }
}

/* Subscribe line */
section.subscribe-line{
  padding: 25px 0 10px 0;
}

section.subscribe-line h3{
  font-family: 'Chau Philomene One', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}

section.subscribe-line .claim{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 2px;
}

section.subscribe-line .btn{
  text-transform: uppercase;
}

section.subscribe-line input{
  font-size: 12px;
  padding: 5px;
}

section.subscribe-line input#inputEmail{
  height: 30px;
}

section.subscribe-line span{
  font-size: 12px;
}

@media (max-width: 767px) {
  section.subscribe-line{
    padding: 30px 0;
  }
  section.subscribe-line .headline{
    margin: 10px 0;
  }
}

/* Social line */
section.social-line {
  background-color: #eeeeee;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

/* Footer */
footer.footer {
  background-color: #2e3234;
}

.footer .title{
  color: #fff;
  font-family: 'Chau Philomene One', sans-serif;
  text-transform: uppercase;
}

.footer nav > ul a.btn{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.footer nav > ul a:not(.btn){
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.footer nav > ul a:not(.btn):hover, .footer nav > ul a:not(.btn):focus{
  color: #9e9e9e;
}

.footer .copyright{
  color: #ffffff;
  font-family: 'Chau Philomene One', sans-serif;
  text-transform: uppercase;
}

/* Streamfield */
.streamfield{
  margin: 20px 0;
}

.streamfield p{
  font-size: 16px;
}

.streamfield a{
  color: #333;
  text-decoration: underline;
}

.streamfield h2{
  text-align: left;
  font-size: 23px;
  font-weight: 600;
}

.streamfield ul{

}

.streamfield li{
  font-size: 16px;
  font-weight: 400;
  list-style-type: square;
  line-height: 1.5;
  margin: 0 0 20px;
}

.streamfield blockquote {
  position: relative;
  padding: 20px;
  margin: 30px 0;
  z-index: 1;
}

.streamfield img {
  width: 100%;
  height: auto;
  margin: 20px auto;
}

/** MODAL **/

#ageModal {
  background-color: rgba(0,0,0,0.5);
}

#ageModal .modal-dialog{
  padding-top: 120px;
}

#ageModal .modal-content{
  background-color: #ffffff;
  color: #000000;
  font-family: 'Chau Philomene One', sans-serif;
  text-align: center;
  border-radius: 0;
  min-height: 200px;
  padding-top: 20px;
}

#ageModal .modal-content h4{
  font-family: 'Chau Philomene One', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
