/* product Index */
section.product-index{
  padding: 0;
}

section.product-index .product-wrapper{
  padding-top: 40px;
  padding-bottom: 20px;
}

section.product-index .product-wrapper > a:hover{
  background-color: rgba(0,0,0,0.5);
}

section.product-index .product-wrapper .product{
  padding: 0;
}

section.product-index .product-wrapper .product .display{
  border-radius: 5px;
  min-height: 440px;
}

section.product-index .product-wrapper .product .display .text{
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  width: 280px;
  padding: 40px;
}

section.product-index .product-wrapper .product .display .text h3{
  margin: 0;
  font-family: 'Special Elite', cursive;
  font-weight: bolder;
  text-transform: uppercase;
}

section.product-index .product-wrapper .product .display img{
  padding: 40px 0 0 0;
}


@media (max-width: 767px) {
  section.product-index .product-wrapper .product .display{
  }
  section.product-index .product-wrapper .product .display .text{
    width: 100%;
    padding: 20px 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section.product-index .product-wrapper .product .display{
      height: 650px;
  }
}

@media (max-width: 767px) {

  /* product */
  section.product{
    margin: 140px 0 40px 0;
  }
}
