{% load wagtailcore_tags wagtailimages_tags static %}

<li class="col-sm-12">
  <a class="block-link color-black" href="{% pageurl post %}">
    <article class="content">
      {% image post.image fill-764x448 as background %}
      <div class="image-container" style="background-image: url('{{ background.url }}');"></div>
      <div class="blog-text">
          <div>
              <h3>{{ post.title }}</h3>

              {% if post.date %}
                  <span class="date">{{ post.date|date:"j F Y" }}</span>
              {% endif %}
          </div>
      </div>
    </article>
  </a>
</li>
