{% load static %}

<section class="contact">
   <div class="container">
      <div class="row">
         <div class="col-sm-6 col-sm-offset-3">
           <form id="contact-form">
             <div class="form-group">
               <input type="email" class="form-control" id="inputEmail" placeholder="Tu email" required="">
               <textarea class="form-control" id="content" placeholder="Escribe aquí..." required=""></textarea>
               <input type="checkbox" id="policy" required=""><span>&nbsp;Acepto las políticas de privacidad</span>
               <div class="center">
                 <button id="lead-form-button" type="submit" class="btn btn-fill btn-lg bg-black-2 color-white material-shadow" data-gtm-cat="Interest" data-gtm-action="Contact" data-gtm-label="Click">ENVIAR</button>
               </div>
               <img id="processing-form" width="50px" src="{% static 'images/loader.gif' %}" style="display:none;">
               <span id="success-form" style="display:none;">¡Gracias! Nos pondremos en contacto contigo lo antes posible.</span>
             </div>
           </form>
         </div>
      </div>
   </div>
</section>
