{% load static %}

<footer class="footer footer-big">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <h5 class="title">Willy's</h5>
                <nav>
                    <ul>
                        <li>
                            <a href="/" >
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/cervezas">
                               Cervezas
                            </a>
                        </li>
                        <li>
                            <a href="/eventos">
                                Eventos
                            </a>
                        </li>
                        <!--<li>
                            <a href="/blog">
                                Blog
                            </a>
                        </li>-->
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h5 class="title">Cervezas</h5>
                <nav>
                    <ul>
                        <li>
                            <a href="/cervezas/apa">
                               APA
                            </a>
                        </li>
                        <li>
                            <a href="/cervezas/ipa">
                               IPA
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h5 class="title">Síguenos en:</h5>
                <nav>
                    <ul>
                        <li>
                            <a href="#" class="btn btn-social btn-simple">
                                <i class="fa fa-facebook-square"></i> Facebook
                            </a>
                        </li>
                        <li>
                             <a href="#" class="btn btn-social btn-simple">
                                <i class="fa fa-instagram"></i> Instagram
                            </a>
                        </li>
                        <li>
                           <a href="#" class="btn btn-social btn-simple">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                        </li>
                        <li>
                             <a href="#" class="btn btn-social btn-simple">
                                <i class="fa fa-youtube"></i> Youtube
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <hr />
        <div class="copyright">
            &copy; 2017 Willy's Brewing
        </div>
    </div>
</footer>
