{% load wagtailcore_tags wagtailimages_tags %}

{% for heroItem in hero %}
{% image heroItem.background fill-1800x978 as imgbanner %}

<!-- hero -->
<section class="hero header-filter" style="background-image: url({{ imgbanner.url }})">

  <div class="container">
    <div class="row">
      <div class="col-sm-6 {% if heroItem.position == 'right' %}col-sm-offset-6{% endif %}">
        <h1 class="title">
          {{ heroItem.title }}
        </h1>
        <div class="square">
            <h2 class="subtitle">
              {{ heroItem.claim }}
            </h2>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- endhero -->

{% endfor %}
