{% load wagtailcore_tags wagtailimages_tags %}

{% for promoItem in promo %}

<!-- promo -->
<section class="promo color-black">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="claim center">{{ promoItem.text }}</p>
        <div class="margin-20">
          <a href="{{ promoItem.link }}" class="btn btn-lg center bg-black-2 color-white material-shadow">CONOCE MÁS</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- endpromo -->

{% endfor %}
