<div class="cookies bg-grey-900">
  Nuestra web utiliza cookies propias para ofrecerle un mejor servicio. Si continúa navegando, consideramos que acepta su uso.
  Puede cambiar la configuración u obtener más información <a class="color-white" href="/cookies">aquí</a>
  <a href="javascript:void(0);" class="color-white close"> X </a>
</div>

<div id="ageModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content material-shadow">
      <div class="modal-header">
        <h4 class="modal-title">¿Eres mayor de edad?</h4>
      </div>
      <div class="modal-body">
        <a id="nop" href="javascript:void(0);" class="btn btn-fill btn-lg bg-white color-black material-shadow">No</a>
        <a id="yep" href="javascript:void(0);" class="btn btn-fill btn-lg color-white material-shadow" style="background-color: #2BB673;">SÍ, SOY MAYOR</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
