{% load static %}

<nav class="navbar navbar-ct-black navbar-transparent navbar-fixed-top material-shadow" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="white-logo img-responsive" alt="Willy's Brewing" src="{% static 'images/willys.svg' %}">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden-xs"><a href="https://www.facebook.com/willysbrewing/" class="btn btn-social btn-simple color-black-2"><i class="fa fa-facebook-square"></i></a></li>
        <li class="hidden-xs"><a href="https://www.instagram.com/willysbrewing/" class="btn btn-social btn-simple color-black-2"><i class="fa fa-instagram"></i></a></li>
        <li class="hidden-xs"><a href="https://twitter.com/WillysBrewing" class="btn btn-social btn-simple color-black-2"><i class="fa fa-twitter"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <img class="white-logo img-responsive visible-xs center" style="width:60px;padding:20px 0;" alt="Willy's Brewing" src="{% static 'images/willys.svg' %}">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Cervezas
              <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/cervezas/riot-apa">RIOT APA</a></li>
            <li><a href="/cervezas/amber">AMBER</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Eventos
              <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/eventos">PRÓXIMOS EVENTOS</a></li>
            <li><a href="/eventos-pasados">EVENTOS PASADOS</a></li>
          </ul>
        </li>
        <li><a href="/zona-willys" class="btn btn-fill btn-lg bg-black-2 color-white material-shadow">ZONA WILLY'S</a></li>
        <div class="visible-xs margin-20">
          <div class="row">
            <div class="col-xs-3 col-xs-offset-1">
              <a href="https://www.facebook.com/willysbrewing/" class="btn btn-social btn-simple color-black-2" style="font-size:30px;"><i class="fa fa-facebook-square"></i></a>
            </div>
            <div class="col-xs-3">
              <a href="https://www.instagram.com/willysbrewing/" class="btn btn-social btn-simple color-black-2" style="font-size:30px;"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="col-xs-3">
              <a href="https://twitter.com/WillysBrewing" class="btn btn-social btn-simple color-black-2" style="font-size:30px;"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
       </ul>
    </div>
  </div>
</nav>
