{% load wagtailcore_tags wagtailimages_tags %}

{% for heroItem in hero %}
{% image heroItem.bg_image fill-1800x978 as imgbanner %}

<style>
    {% if heroItem.color %}
    section.hero.product-hero:before {
      background: {{ heroItem.color }};
      background: -moz-linear-gradient(160deg,  {{ heroItem.color }} 0%, #000000 100%);
      background: -webkit-linear-gradient(160deg,  {{ heroItem.color }} 0%,#000000 100%);
      background: linear-gradient(160deg, {{ heroItem.color }} 0%, #000000 100%);
    }
    section.hero.product-hero:after{
      background-image: url({{ imgbanner.url }});
    }
    {% endif %}
</style>

<!-- hero -->
<section class="hero product-hero">

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="title">
            {{ heroItem.name }}
          </h1>
          <h2 class="subtitle">
            {{ heroItem.subtitle }}
          </h2>
          <ul class="features">
              <li>
                  Color: <b>{{ heroItem.style }}</b>
              </li>
              <li>
                  Graduación: <b>{{ heroItem.proof }}</b>
              </li>
              <li>
                 IBU: <b>{{ heroItem.ibu }}</b>
              </li>
          </ul>
          <a href="#product" class="btn btn-lg bg-white color-black-2 margin-20 material-shadow smooth hidden-xs">Más sobre {{ heroItem.name }}</a>
        </div>
        <div class="col-sm-4">
          {% image heroItem.image width-800 as image %}
          <img class="image img-responsive center" src="{{ image.url }}" alt=""/>
        </div>
      </div>
    </div>

</section>
<!-- endhero -->

{% endfor %}
