{% load wagtailcore_tags wagtailimages_tags static %}

<div class="product-wrapper col-sm-6">
  <a href="{% pageurl product %}">
    <section class="product">
        <div class="row">
            <div class="col-sm-12">
              <div class="display" style="background-color: {{ product.color }};">
                <div class="text pull-left">
                  <h3>{{ product.title }}</h3>
                </div>
                {% image product.image height-400 as image %}
                <img class="image img-responsive center" src="{{ image.url }}" alt=""/>
              </div>
            </div>
        </div>
    </section>
  </a>
</div>
