{% load wagtailcore_tags wagtailimages_tags %}

{% for heroItem in hero %}
{% image heroItem.background fill-1800x978 as imgbanner %}

<!-- hero -->
<section class="hero simple-hero header-filter" style="background-image: url({{ imgbanner.url }})">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 id="header-title" class="title">
          <p><span class="font-brand">{{ heroItem.title }}</span></p>
        </h1>
        <h2 id="header-subtitle" class="subtitle">
          <p>{{ heroItem.claim }}</p>
        </h2>
      </div>
    </div>
  </div>
</section>
<!-- endhero -->


</section>
{% endfor %}
