{% load wagtailcore_tags wagtailimages_tags %}

<section class="social-line">
   <div class="container">
      <div class="row">
           <div class="col-md-3 col-xs-6">
               <a href="" class="btn btn-round btn-fill btn-social btn-facebook">
                   <i class="fa fa-facebook-square"></i> Facebook
               </a>
           </div>
            <div class="col-md-3 col-xs-6">
               <a href="" class="btn btn-round btn-fill btn-social btn-twitter">
                   <i class="fa fa-twitter"></i> Twitter
               </a>
           </div>
            <div class="col-md-3 col-xs-6">
               <a href="" class="btn btn-round btn-fill btn-social btn-google">
                   <i class="fa fa-google-plus-square"></i> Google+
               </a>
           </div>
           <div class="col-md-3 col-xs-6">
               <a href="" class="btn btn-round btn-fill btn-social btn-pinterest">
                   <i class="fa fa-pinterest"></i> Pinterest
               </a>
           </div>
      </div>
   </div>
</section>
