{% load wagtailcore_tags wagtailimages_tags %}

{% if content %}
<div class="streamfield">
    {% for child in content %}
      {% if child.block_type == 'h2' %}
            <h2>{{ child }}</h2>
        {% elif child.block_type == 'h3' %}
            <h3>{{ child }}</h3>
        {% elif child.block_type == 'h4' %}
            <h4>{{ child }}</h4>
        {% elif child.block_type == 'intro' %}
            <div class="intro drop-cap">{{ child }}</div>
        {% elif child.block_type == 'pullquote' %}
            <blockquote class="pull-quote">
                <p>{{ child.value.quote }}</p>
                <cite> – {{ child.value.attribution }}</cite>
            </blockquote>
        {% elif child.block_type == 'image' %}
            <div class="{{ child.value.alignment }}-width">
                <div class="img-holder">
                      {% image child.value.image width-1280 as blockimage %}
                    <div {% if child.value.attribution %}class="img-credit"{% endif %}>
                        <img class="img-responsive" src="{{ blockimage.url }}" width="{{ blockimage.width }}" height="{{ blockimage.height }}" alt="{{ blockimage.alt }}" />
                    </div>
                </div>
            </div>
        {% elif child.block_type == 'two_columns' %}
          <div class="two-columns">
            {% if child.value.type == 'left' %}
              <div class="row">
                <div class="col-sm-6">
                  {% image child.value.image width-512 as blockimage %}
                  <img class="img-responsive center" src="{{ blockimage.url }}" width="{{ blockimage.width }}" height="{{ blockimage.height }}" alt="{{ blockimage.alt }}">
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                  <h3>{{ child.value.headline }}</h3>
                  <p>{{ child.value.text }}</p>
                </div>
              </div>
            {% elif child.value.type == 'right' %}
              <div class="row">
                <div class="col-sm-6 visible-xs">
                  {% image child.value.image width-512 as blockimage %}
                  <img class="img-responsive center" src="{{ blockimage.url }}" width="{{ blockimage.width }}" height="{{ blockimage.height }}" alt="{{ blockimage.alt }}">
                </div>
                <div class="col-sm-5">
                  <h3>{{ child.value.headline }}</h3>
                  <p>{{ child.value.text }}</p>
                </div>
                <div class="col-sm-6 col-sm-offset-1 hidden-xs">
                  {% image child.value.image width-512 as blockimage %}
                  <img class="img-responsive center" src="{{ blockimage.url }}" width="{{ blockimage.width }}" height="{{ blockimage.height }}" alt="{{ blockimage.alt }}">
                </div>
              </div>
            {% endif %}
          </div>
        {% elif child.block_type == 'html' %}
            {{ child.value | safe }}
        {% else %}
            {{ child }}
        {% endif %}
    {% endfor %}

</div>
{% endif %}
